.Blog{
    .Blog-Content{
        align-items: start;
        justify-content: start !important;
        gap: 0 !important;
        width: 450px;
        height: fit-content;
        border-radius: 16px;
        cursor: pointer;
        .Image{
            width: 100%;
            height: 280px;
            overflow: hidden;
            border-radius: 9px 9px 0 0;
            img{
                width: 100%;
                height: 100%;
                border-radius: 9px 9px 0 0;
                transform: rotateY(10deg);
                transition: all 0.3s linear;
            }
        }
        }
        .Blog-User-Container{
            width: 100%;
            background-color: var(--secondary-bgColor-bm);
            color: black;
            border-radius:0 0 9px 9px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 5px;
            div{
                padding: 4px 10px;
            }
            .Blog-Title{
                h1{
                    color: black;
                }
            }
            span, p, svg{
                color: black;
            }
            .User-Data{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                img{
                    border: 0.5px solid black;
                    border-radius: 100px;
                    width: 50px;
                    height: 50px;
                }
            }
            button{
                background-color: var(--bgColor);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 5px 30px;
                .Icon-Bg{
                    padding: 5px;
                    border-radius: 100px;
                    background-color: white !important;
                    svg{
                        height: 20px;
                        width: 20px;
                        color: black !important;
                    }
                }
            }
        }
    
}
.Blog:hover{
    .Image{
        img{
            transform: scale(1.1);
        }
    }
}