.user-card{
    padding: 10px;
    .profile-card, .profile-navbar{
        box-shadow: .2px .2px 5px black;
    }
    .profile-card{
        background-color: var(--main-color);
        border-radius: 9px 9px 0 0;
        padding: 10px;
    }
    .profile-navbar{
        background-color: white;
        border-radius: 0 0 9px 9px;
        align-items: start !important;
        width: fit-content;
        a{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 10px;
            svg, span {
                color: grey;
            }
            svg{
                padding: 0 0 0 15px;
            }
            p{
                padding: 0 15px 0 0;
            }
        }
        a:hover{
            background-color: var(--hover);
            svg, span{
                color: black;
            }
        }
    }
}