section.Promotion{
    width: 100%;
    .promotion-title-images{
        align-items: start !important;
        h1{
            font-size: 50px;
        }
        p{
            font-size: 30px;
            color: var(--color);
        }
    }
    .StoreApps{
        img{
            height: 60px;
            width: 150px;
        }
    }
    .App-Image{
        img{
            height: 500px;
            width: 400px;
        }
    }
}