.Restaurant{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 2px;
    gap: 5px;
    cursor: pointer;    
    img{
        height: 60px;
        width: 60px;
    }
    div.restaurant__name_container{
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }
    h1.restaurant__name{
        font-size: 30px;
        color: white;
    }
    
    p.restaurant__type{
        color: orange;
        font-size: 15px;
    }
}
.Restaurant:hover{
    h1{
        color: white;
    }
}