.Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    form{
        width: 600px;
        background-color: var(--dark-secondary-bg);
        color: black;
        box-shadow: .5px .5px 15px rgb(8, 8, 8);
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-radius: 9px;
        .Header{
            h1, h3{
                color: black;
                font-size: 40px;
            }
        }
        .Form__Body {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;
            .Input__container {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 5px;
                
                input {
                    height: 50px !important;
                    width: 100%;
                }
            }
        }
        input, textarea {
            color: white;
            background-color: var(--color-bm);
            width: 100%;
            border-radius: 4px;
            padding-left: 10px;
            outline: none;
            border: 2px solid var(--main-color);
            transition: all 0.2s ease-in;
        }
        textarea{
            height: 200px;
            resize: none;
            padding: 10px;
        }
        input::placeholder,
        textarea::placeholder{
            color: white;
            font-size: 15px;
            font-family: var(--font-secondary);
            padding-left: 2px;
        }

        input[type='submit']{
            background-color: var(--main-bg);
            width: 150px;
            color: white;
            cursor: pointer;
        }
        input[type='submit']:hover {
            background-color: var(--main-hover);
        }
    }
}








