header{
    position: sticky;
    top: 0;
    z-index: 9999;
    .TopBar{
        background-color: var(--bgColor);
        padding: 10px 20px;
        ul{
            li{
                a:hover{
                    svg, p{
                        color: var(--HoverbgColor-bm);
                    }
                }
            }
            li::after{
                content: '|';
            }
            li:last-child::after{
                content: '';
            }
        }
    }
    .Main-Header{
        background-color: var(--header-bgColor-bm);
        color: var(--header-color-bm);
        padding: 10px 20px;
        box-shadow: .1px .1px 40px black;
        .Auth-Icons{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            .Icon-Bg{
                border-radius: 100px;
                padding: 8px;
                position: relative;
                button{
                    background-color: red;
                    height: fit-content;
                    width: fit-content;
                    padding: 2px 10px;
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    border-radius: 100px;
                }
                svg{
                    color: white;
                    height: 30px;
                    width: 30px;
                }
            }
        }
        .MoreMenu{
            display: none;
            padding: 10px;
        }
    }
}
/*---------------------- MOBILE VERSION----------------------*/
@media screen and (max-width: 768px){
    header{
        .TopBar, 
        .Navbar, 
        .Auth-Icons{
            display: none;
        }
        .MoreMenu{
            display: block;
        }
    }
}
/* ----------- TABLET DEVICES----------- */
@media only screen and (max-width: 768px ) and (max-width:1023px){
    header{
        .TopBar, 
        .Navbar, 
        .Auth-Icons{
            display: none !important;
        }
        .MoreMenu{
            display: block;
        }
    }
}
/* ----------- LAPTOP DEVICES----------- */
@media only screen and (max-width: 1024px ) and (max-width:1439px){
    header{
        .TopBar,
        .Navbar, 
        .Auth-Icons{
            display: none !important;
        }
        .MoreMenu{
            display: block;
        }
    }
}
/* ----------- DESCKTOP DEVICES----------- */
@media only screen and(max-width: 1440px ){

}