header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9;

    select{
        background-color: transparent;
        color: white;
    }

    .top-bar{
        background-color: var(--main-bg);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;

        .top-bar-container {
            width: 1440px;
        }
        ul{
            li{
                a {
                    color: white;
                    svg, span{
                        color: white;
                    }
                }

                a:hover {
                    svg, span{
                        color: var(--HoverbgColor-bm);
                    }
                }

                button.login {
                    border: 3px solid white !important;
                }
                
                button.signup {
                    background-color: black !important;
                }
            }
            li::after{
                content: '|';
                color: white;
            }
            li:last-child::after{
                content: '';
            }
        }
    }

    .header{
        background-color: var(--dark-secondary-bg);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;

        .header-content {
            width: 1440px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo-navbar {
                display: flex;
                align-items: center;
                justify-content: center;
            }   

            .auth-menu {
                .auth-icons{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
    
                    .icon{
                        border-radius: 100px;
                        padding: 8px;
                        position: relative;
                        
                        button{
                            background-color: red !important;
                            height: 25px;
                            width: 25px;
                            padding: 5px !important;
                            position: absolute;
                            top: -8px;
                            right: -8px;
                            border-radius: 100px;
                        }
    
                        svg{
                            color: white;
                            height: 30px;
                            width: 30px;
                        }
                    }
                }

                .more-menu{
                    display: none;
                    padding: 10px;
                }
            }
        }
    }
}
/*---------------------- MOBILE VERSION----------------------*/
@media screen and (max-width: 768px){
    header{
        .top-bar, 
        .Navbar, 
        .auth-icons{
            display: none;
        }
        .more-menu{
            display: block;
        }
    }
}
/* ----------- TABLET DEVICES----------- */
@media only screen and (max-width: 768px ) and (max-width:1023px){
    header{
        .top-bar, 
        .Navbar, 
        .auth-icons{
            display: none !important;
        }
        .more-menu{
            display: block;
        }
    }
}
/* ----------- LAPTOP DEVICES----------- */
@media only screen and (max-width: 1024px ) and (max-width:1439px){
    header{
        .top-bar,
        .Navbar, 
        .auth-icons{
            display: none !important;
        }
        .more-menu{
            display: block;
        }
    }
}
/* ----------- DESCKTOP DEVICES----------- */
@media only screen and(max-width: 1440px ){
}