.Profile{
    position: relative;
    cursor: pointer;          
    img{
        border: none !important;
        height: 50px !important;
        width: 50px !important;
        border-radius: 100px;
    }
    .DropdownMenu{
        .Dropdown{
            width: 300px;
            height: fit-content;
            background-color: rgb(41, 41, 41);
            color: white;

            position: absolute;
            top: 100%;
            right: 15px;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            border-radius: 9px;
            padding: 10px;
            hr{
                background-color: white;
                height: 2px;
                width: 100%;
                border: none;
            }
            
            a{
                color: white;
                width: 100%;
                padding: 10px;
                border-radius: 4px;
                display: flex;
                gap: 8px;
                align-items: center;
                font-size: 18px;

            }
            a:hover{
                background-color: rgb(80, 80, 80);
            }

            a:last-child{
                height: 40px;
                background-color: red;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            a:last-child:hover{
                background-color: rgb(45, 45, 45);
            }

        }
    }
}

.Profile:hover{
    .DropdownMenu{
        display: block;
    }
}



/*---------------------- MOBILE VERSION----------------------*/
@media screen and (max-width: 768px){
    .UserMenu{
        .UserMenu__list{
            display: none;
        }
    }

}


/* ----------- TABLET DEVICES----------- */
@media only screen and (max-width: 768px ) and (max-width:1023px){

}

/* ----------- LAPTOP DEVICES----------- */
@media only screen and (max-width: 1024px ) and (max-width:1439px){

}

/* ----------- DESCKTOP DEVICES----------- */
@media only screen and(max-width: 1440px ){

}