.admin-page{
    display: flex;
}
aside.admin{
    background-color: rgb(63, 91, 152);
    height: 100vh;
    width: clamp(20%, 300px, 20%);
}
main.admin{
    background-color: rgb(217, 217, 217);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0;
    gap: 0;
}