.admin-page{
    display: flex;
    section {
        width: 100%;
    }
}
aside.admin{
    background-color: black;
}
main.admin{
    flex: 1;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: start;
}