.Page-Menu{
    width: 100%;
    display: flex !important;
    align-items: start !important;
    .active{
        background-color: var(--hover);
    }
    .Product-Filter{
        background-color: white;
        width: 200px;
        .Filter-Container{
            width: 100%;
            padding: 10px 0;
            cursor: pointer;
            transition: all 0.3s linear;
            p{
                color: black;
            }
        }
        .Filter-Container:hover{
            background-color: var(--hover);
        }
    }
    .Product-Lists{
        width: 1200px;
    }
}
/*---------------------- MOBILE VERSION----------------------*/
@media screen and (max-width: 768px){
    .Page-Menu{
        .Product-Filter{
            width: 100%;
            .Main-Filter{
                flex-direction: row !important;
                .Filter-Container{
                    width: 120px;
                }
            }
        }
    }
}
/* ----------- TABLET DEVICES----------- */
@media only screen and (max-width: 768px ) and (max-width:1023px){
    .Page-Menu{
        .Product-Filter{
            width: 100%;
            .Main-Filter{
                flex-direction: row !important;
                .Filter-Container{
                    width: 120px;
                }
            }
        }
    }
}
/* ----------- LAPTOP DEVICES----------- */
@media only screen and (max-width: 1024px ) and (max-width:1439px){
    .Page-Menu{
        .Product-Filter{
            width: 100%;
            .Main-Filter{
                flex-direction: row !important;
                .Filter-Container{
                    width: 120px;
                }
            }
        }
    }
}
/* ----------- DESCKTOP DEVICES----------- */
@media only screen and(max-width: 1440px ){
}