.Main-SidebarCart{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.632);
    display: flex;
    align-items: start;
    justify-content: end;
    .SidebarCart{
        background-color: var(--main-bg);
        width: 500px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        right: 0;
        .Header-Body{
            width: 100%;
        }
        .Cart-Header{
            h1{
                font-size: 40px;
            }
            svg{
                height: 40px;
                width: 40px;
                color: white;
            }
        }
        .Cart-Body{
            width: 100%;
            height: 400px;
            overflow-y: scroll;
            .Product-Name-Quantity{
                align-items: start !important;
            }
            .Product-Data{
                cursor: pointer;
                .product-info{
                    width: 85%;
                    .product-image {

                    }

                    .product-name-quantity {
                        h1 {
                            font-size: 20px;
                        }
                    }
                    .product-price {
                        h1 {
                            font-size: 15px;
                        }
                    }
                }
                .product-remove{
                    .Icon-Bg{
                        display: none;
                    }
                }
            }
            .Product-Data:hover{
                .Icon-Bg{
                    display: block;
                }
            }

        }
        .Cart-Footer{
            background-color: black;
            justify-content: space-between !important;
            width: 100%;
            padding: 30px 20px;
            div{
                width: 100%;
            }
        }
    }
}