.Dish{
    background:linear-gradient(194deg, rgba(255,255,255,1) 1%, rgb(248, 248, 248) 79%);
    box-shadow: 1px 1px 10px rgb(122, 122, 122);
    height:fit-content;
    width: 300px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 9px;
    transition: all 0.4s linear;
    .Header{
        width: 100%;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        .Image-Container{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 9px;
            overflow: hidden;
            img{
                width: 90%;
                height: 90%;
                transition: all 0.4s linear;
            }
        }
        .Image-Container:hover{
            img{
                transform: scale(1.1);
            }
        }

    }   
    .Body{
        width: 100%;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                color: black;
                text-shadow: 2px 2px 2px white;
                font-size: 30px;
            }
            p{
                color: grey;
                text-shadow: 2px 2px 2px white;
                font-size: 20px;
                text-align: center;
            }
        }
    }

    .Footer{
        width: 100%;
        div.Dish-Qunatity-Price{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .Quantity-Wrap{
                .Quantity{
                    height: 30px;
                    background-color: rgb(220, 220, 220);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    padding: 5px;
                    border-radius: 4px;
                    svg{
                        height: 20px;
                        width: 20px;
                        color: black;
                    }
                    span{
                        color: black;
                    }
                }
            }

            .Price-Cart{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                .Icon-Bg{
                    background-color: rgb(255, 215, 141);
                    border: 1px solid rgb(222, 170, 0);
                    svg{
                        color: orange;
                    }
                }
        
                h5{
                    color: black;
                    text-shadow: 1px 1px 2px white;
                    font-size: 25px;
                }
            }
        }
    }

}

.Dish:hover{
    box-shadow: 2px 2px 10px rgb(121, 121, 121);
}



